body {
font-family: "Oxygen", sans-serif;
font-size: 16px;
font-weight: 300;
margin: 0;
}

/* header stuff here */

header span {
  color: black;
  font-size:2rem;
  font-weight: 700;
}

header {
  background-color: #b4cf66;
  padding: 1rem 10px;
}

/* navigation formatting */

nav {
background-color: #146152;
}

nav ul {
  margin: 0;
  padding: 0 10px;
  list-style-type:none;
  display: flex;
}

nav a {
  display:block;
  padding: 10px 20px; 
  text-decoration: none;
  font-size: 1.1rem;
  color: #b4cf66;
  font-weight: 700;
}

nav li.active a {
  background-color: #ff5a33; 
  color: #146152;
}

nav a:hover {
  color: white;
}

/* main section formatting here */

main {
  padding: 1rem 2vw;
}

main h1 {
  color: #146152;
}

main h2 {
  color: #b4cf66;
  margin-bottom: .2rem;
}

main p {
  color: #333333; 
  margin: 0;
}

main ol {
  padding: 0.5rem 30px; 
  background-color: #efefef;
  list-style-type: lower-roman;
}

main dl dt{
color: #ff5a33;
font-weight: 700;
margin-top: 1rem;
}

main dl dd {
  color: #146152;
  font-size: .9rem;
}

main ul {
  list-style-type:circle;
}

main address {
  font-weight: 400;
  background-color: #b4cf66;
  padding: .5rem;
  border: 3px solid #44803f;
  border-radius: .5rem;
  width: 200px;
}

/* image stuff here */
 figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
 }

 figure.wrapped img{
    width: 100%;
    height: auto;
 }

 figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
 }

div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure {
    margin: .5rem 2% 0 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    padding: 1rem 0 1rem 0;
}

/* review stuff here */

.myreview fieldset {
    border: 1px solid #146152;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myreview legend {
    color: #44803f;
    font-size: .8rem;
}

.myreview label {
    margin: .5rem;
}

.myreview label, .myreview select, .myreview [type=text], .myreview [type=tel], .myreview [type=email], .myreview textarea {
    display: block;
}

.myreview select, .myreview [type=text], .myreview [type=tel], .myreview [type=email], .myreview textarea {
    border: 1px solid #146152;
    padding: .3rem;
    width: 250px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
}

.myreview textarea {
    height: 6rem;
}

.myreview :required {
    background-color: rgba(156, 51, 53, 0.1);
}

.myreview [type=submit] {
    background-color: #44803f;
    border-radius: .3rem;
    border: none;
    padding: 1rem 2rem;
    margin: 1rem 0 0 1vw;
    color: white;
}

/* format footer section */

footer {
  background-color: #44803f;
  text-align: center;
  color: #333333; 
}